<% if (typeof authn_user != 'undefined') { %>
   <% if (['shibboleth', 'google', 'azure', 'lti', 'dev'].includes(authn_user.provider)) { %>
       <a class="btn btn-secondary" href="<%= plainUrlPrefix %>/logout">Log out</a>
   <% } else { %>
       <a class="btn btn-secondary disabled">Log out</a>
   <% } %>
<% } else { %>
   <a class="btn btn-secondary disabled">Log out</a>
<% } %>
